{% extends "base.html" %}

{% block head %}
  <title>{{name}} | Flask </title>
{% endblock %}

{% block style %}
<div style="background-color:black;padding:2%;">
		<div style="background-color:orange;border:3px solid white;color:white;width:60%;padding:2%; margin-bottom: 100px;">
{% endblock %}

<!-- Project Information -->
{% block title %}
  <h1>Flask Project</h1>
{% endblock %}

{% block link1 %}
  <a style="color:white"
  href="https://docs.google.com/document/d/1IbB0bGAwiSk8j68Wcs0m1TMWh8LOb2xa7dvgEmebQjc/edit" class="btn">Project Plan</a>
{% endblock %}
{% block link2 %}
  <a style="color:white" href="https://repl.it/@charliezhu1/Projectexploring#main.py" class="btn">Repl</a>
{% endblock %}
{% block link3 %}
  <a style="color:white" href="https://docs.google.com/document/d/1fioQivtuh1K1jUl7TWyhOu3eaMYt7DtLRx1GFxRu-Xw/edit?usp=sharing" class="btn">Journals</a>
{% endblock %}

