{% extends "homemusic.html" %}

{% block music %}
<div style="background-color:white;padding:2%;">
		<div style="color:black; text-align:center;">
      <h1 style="font-size: 200 px; font-family:Courier New; ">🎷Jazz🎷</h1>
        </div>
</div>
{% endblock %}

{% block projectplan %}
<div id="video" class="screen">

    <div class="row justify-content-center">
        <div class="col-10" style="text-align: center; color: white;">
            <h2>Herbie Hancock - Cantaloupe Island</h2>
        </div>
    </div>

    <div class="repositories">
        <div class="row justify-content-center">

            <div class="col-4">
                <a href="https://www.youtube.com/watch?v=8B1oIXGX0Io"></a>
            </div>
        </div>

        <div class="row justify-content-center" style="margin-top: 2vw; align:center">
            <div class="col-8">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/8B1oIXGX0Io" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

    </div>


</div>
{% endblock %}

{% block repl %}
<div id="video" class="screen">

    <div class="row justify-content-center">
        <div class="col-10" style="text-align: center; color: white;">
            <h2>Roy Hargrove - Strasbourg St. Denis</h2>
        </div>
    </div>


    <div class="repositories">
        <div class="row justify-content-center">

            <div class="col-4">
                <a href="https://www.youtube.com/watch?v=PZ4oyVMtVvg"></a>
            </div>
        </div>

        <div class="row justify-content-center" style="margin-top: 2vw; align:center">
            <div class="col-8">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/PZ4oyVMtVvg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

    </div>


</div>
{% endblock %}

{% block journal %}
<div id="video" class="screen">

    <div class="row justify-content-center">
        <div class="col-10" style="text-align: center; color: white;">
            <h2>Charlie Parker - Confirmation</h2>
        </div>
    </div>

    <div class="repositories">
        <div class="row justify-content-center">

            <div class="col-4">
                <a href="https://www.youtube.com/watch?v=yXK0pZx92MU"></a>
            </div>
        </div>

        <div class="row justify-content-center" style="margin-top: 2vw; align:center">
            <div class="col-8">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/yXK0pZx92MU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

    </div>


</div>
{% endblock %}
