{% extends "homemusic.html" %}

{% block music %}

<div style="background-color:white;padding:2%;">
		<div style="color:black; text-align:center;">
      <h1 style="font-size: 200 px; font-family:Courier New; ">🎙️Pop🎙️</h1>
    </div>
</div>

{% endblock %}

{% block projectplan %}
<div id="video" class="screen">

    <div class="row justify-content-center">
        <div class="col-10" style="text-align: center; color: white;">
            <h2>Watermelon Sugar</h2>
        </div>
    </div>

    <div class="repositories">
        <div class="row justify-content-center">

            <div class="col-4">
                <a href="https://www.youtube.com/watch?v=E07s5ZYygMg&list=PLcirGkCPmbmFeQ1sm4wFciF03D_EroIfr&index=4"></a>
            </div>
        </div>

        <div class="row justify-content-center" style="margin-top: 2vw; align:center">
            <div class="col-8">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/E07s5ZYygMg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

    </div>


</div>
{% endblock %}

{% block repl %}
<div id="video" class="screen">

    <div class="row justify-content-center">
        <div class="col-10" style="text-align: center; color: white;">
            <h2>Blinding Lights</h2>
        </div>
    </div>

    <div class="repositories">
        <div class="row justify-content-center">

            <div class="col-4">
                <a href="https://www.youtube.com/watch?v=XwxLwG2_Sxk"></a>
            </div>
        </div>

        <div class="row justify-content-center" style="margin-top: 2vw; align:center">
            <div class="col-8">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/XwxLwG2_Sxk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

    </div>


</div>
{% endblock %}

{% block journal %}
<div id="video" class="screen">

    <div class="row justify-content-center">
        <div class="col-10" style="text-align: center; color: white;">
            <h2>Wonder</h2>
        </div>
    </div>

    <div class="repositories">
        <div class="row justify-content-center">

            <div class="col-4">
                <a href="https://www.youtube.com/watch?v=5Dpmw0HTk6c"></a>
            </div>
        </div>

        <div class="row justify-content-center" style="margin-top: 2vw; align:center">
            <div class="col-8">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/5Dpmw0HTk6c" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

    </div>


</div>
{% endblock %}